#main {
    padding: 60px 40px 20px;
}

/* .head h1 { */
/*     padding-bottom: 9px; */
/*     margin: 40px 0 20px; */
/*     border-bottom: 1px solid #eee; */
/* } */

body {
    font-family: Lato;
}

code, pre {
    font-family: TheSansMonoCd, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code {
    padding: 3px 3px 1px;
    margin: 0;
    border-width: 0;
    /* color: #d72b3f; */
    color: #e01e5a;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

pre>code {
    border: none
}

.nav>li>a {
    padding: 15px 30px 10px 20px;
}

.collapse-heading span.pull-right:before {
    content: '\e113';
}
.collapse-heading.collapsed span.pull-right:before {
    content: '\e114';
}

/****************************************************************/

.panel-body h1, .panel-body h2, .panel-body h3, .panel-body h4, .panel-body h5, .panel-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.panel-body h1, .panel-body h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

.panel-body h1 { margin: .67em 0; }
.panel-body h6 { color: #6a737d; }

.panel-body h1 { font-size: 2em; }
.panel-body h2 { font-size: 1.5em; }
.panel-body h3 { font-size: 1.25em; }
.panel-body h4 { font-size: 1em; }
.panel-body h5 { font-size: .85em; }
.panel-body h6 { font-size: .875em; }

.panel-body blockquote:before {
    display: block;
    width: 4px;
    background: rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
}
.panel-body blockquote {
    font-size: 1em;
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}

.panel-body table {
    display: block;
    width: 100%;
    overflow: auto;
    border-color: gray;
    border-collapse: separate;
}
.panel-body table td, .panel-body table th {
    padding: 6px 13px;
    border-top: 1px solid #dfe2e5;
    border-left: 1px solid #dfe2e5;
}
.panel-body table th:last-child, .panel-body table td:last-child {
    border-right: 1px solid #dfe2e5;
}
.panel-body table tr:last-child td {
    border-bottom: 1px solid #dfe2e5;
}
.panel-body table thead th:first-child {
    border-top-left-radius: 4px;
}
.panel-body table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}
.panel-body table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}
.panel-body table thead th:last-child {
    border-top-right-radius: 4px;
}
.panel-body table tr:nth-child(2n) {
    background-color: #f6f8fa;
}
.panel-body table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.MathJax.CtxtMenu_Attached_0 {
    overflow-x: scroll;
}

.panel-body input[type=checkbox]:before {
    vertical-align: middle;
    cursor: auto;
}

.head h1 {
    margin-bottom: 8px;
    display: flex;
    font-size: 1.5em;
    padding-bottom: 8px;
    margin: 30px 0 3px;
    line-height: 1.38463;
    font-weight: 400;
    color: rgba(var(--sk_foreground_max_solid,97, 96, 97), 1);
}
.head h1:after {
    content: '';
    flex: 1 0 auto;
    margin-left: 8px;
    height: 0;
    border-bottom: thin rgba(var(--sk_foreground_low_solid,221,221,221),1.0) solid;
    align-self: center;
}

.panel-docs>.panel-heading {
    /* color: red; */
    /* background-color: blue; */
    border-color: pink;
    /* border-bottom-left-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
}
.panel-docs>.panel-heading.collapsed {
    border-color: transparent;
}
.panel-docs {
    border-color: pink;
    border-bottom-color: pink;
    /* border-bottom-left-radius: 0; */
    /* border-bottom-right-radius: 0; */
}
.panel-body.panel-collapse.collapse.in {
    border-color: pink;
    border-bottom-color: pink;
    /* border-bottom-left-radius: 4px; */
    /* border-bottom-right-radius: 4px; */
}
